export(circle, fithd, func.recweib,
       HDnaslund, HDpower, HDmeyer, HDmichailoff,  
       HDnaslund2, 
       HDnaslund3, HDnaslund4,
       HDmicment, HDmicment2, HDwykoff, 
       HDcurtis, 
       HDprodan, HDlogistic, HDrichards, HDweibull, 
       HDgomperz, HDsibbesen, HDkorf, 
       HDratkowsky, HDhossfeldIV,
       ImputeHeights, linesplot,  mywhiskers, NR, NRnum, 
       plot.hdmod, predvol, qqplotHD,  recweib, 
       scaleDMean, scaleDGMean,
       scaleDMed, scaleDGMed,
       startHDnaslund, startHDpower, startHDmeyer, startHDmichailoff,  
       startHDnaslund2,  startHDnaslund3, startHDnaslund4, 
       startHDmicment, startHDmicment2, startHDwykoff,  
       startHDcurtis, 
       startHDprodan, startHDlogistic, startHDrichards, startHDweibull, 
       startHDgomperz, startHDsibbesen, startHDkorf, 
       startHDratkowsky, startHDhossfeldIV,
       updown,ddcomp,
       HTest,area_esh,gg_wind,
       visibility_thinning_cps,HTest_cps,detectability_cps,
       ordering_cps,polar_to_cart,cart_to_polar,triangle_coords,shades)
import(nlme,stats4)
importFrom("spatstat","owin","union.owin","intersect.owin","inside.owin","dilation","erosion","disc",
           "edges","lengths.psp","is.owin","area.owin","erosion.owin","dilation.owin")
importFrom("grDevices", "devAskNewPage")
importFrom("graphics", "abline", "legend", "lines", "par", "points","polygon")
importFrom("stats", "as.formula", "ecdf", "integrate", "lm", "lowess",
           "na.omit", "numericDeriv", "predict", "qgamma", "qqline",
           "qqnorm", "quantile", "resid", "rnorm", "sd", "terms","runif",
           "approx","qnorm","qt")
importFrom("magic","adiag")
S3method(plot,hdmod)