export(circle, fithd, func.recweib,
       HDnaslund, HDpower, HDmeyer, HDmichailoff,  
       HDnaslund2, 
       HDnaslund3, HDnaslund4,
       HDmicment, HDmicment2, HDwykoff, 
       HDcurtis, 
       HDprodan, HDlogistic, HDrichards, HDweibull, 
       HDgomperz, HDsibbesen, HDkorf, 
       HDratkowsky, HDhossfeldIV,
       ImputeHeights, linesplot,  mywhiskers, NR, NRnum, 
       plot.hdmod, predvol, qqplotHD,  recweib, 
       scaleDMean, scaleDGMean,
       scaleDMed, scaleDGMed,
       startHDnaslund, startHDpower, startHDmeyer, startHDmichailoff,  
       startHDnaslund2,  startHDnaslund3, startHDnaslund4, 
       startHDmicment, startHDmicment2, startHDwykoff,  
       startHDcurtis, 
       startHDprodan, startHDlogistic, startHDrichards, startHDweibull, 
       startHDgomperz, startHDsibbesen, startHDkorf, 
       startHDratkowsky, startHDhossfeldIV,
       updown,ddcomp,
       HTest,area_esh,gg_wind)
import(nlme,stats4,spatstat)
importFrom("grDevices", "devAskNewPage")
importFrom("graphics", "abline", "legend", "lines", "par", "points","polygon")
importFrom("stats", "as.formula", "ecdf", "integrate", "lm", "lowess",
           "na.omit", "numericDeriv", "predict", "qgamma", "qqline",
           "qqnorm", "quantile", "resid", "rnorm", "sd", "terms")

S3method(plot,hdmod)